/*
case1.opacity
画像に対して不透明度の設定を行う。
*/
.sample4_1{
  background: #333;
}

.sample4_1 p{
  opacity: .5;
}

/*
case2.background-image
1つの要素に対して複数の画像の設定を行う。
複数の画像を設置する場合、各画像に対して
位置指定なども行う事に注意
*/

.sample4_2 .imgWrap{
  width: 230px;
  height: 230px;
  margin: 20px auto;
  background: url("../img/sample4_background_img.png") , url("../img/sample4_opacity.jpg");
  border-radius: 5%;
}

/*
case3.background-size
背景画像のサイズを変更する。
*/
.sample4_3{
  background: url("../img/sample4_background_img.png");
  background-repeat: no-repeat;
  /* background-size: cover;
  coverにすると、画像は最大限の大きさで表示されて、はみ出た部分は見えなくなる*/
background-size: contain;
/* background-size: contain;
にすると、画像は幅高さ内に収まるように配置される。初期では左上基準なので真ん中には来ない。*/
background-position: right bottom;
}

/*
case4.box-shadow / text-shadow
ドロップシャドウの設定。
文字と要素でプロパティ名が違うので注意
*/
.sample4_4 .shadowWrap{
  padding: 20px;
border:solid 1px tomato;
box-shadow: 3px 3px 6px #000;
}
.sample4_4 h3{
  font-size: 1.8rem;

}

/*
case5.border-radius
ボーダーのエッジの設定（角丸）
*/
.sample4_5 .radiusWrap{
  width: 250px;
  height: 250px;
}
.sample4_5 img{
/* border-radius: 50%; */
border-radius: 10px 0 0 10px;
}

/*
case6.linear-gradient
グラデーションの設定
*/
.sample4_6{
  position: relative;
  height: 300px;
  background-image: linear-gradient(to left ,tomato ,skyblue);
}

.gradientWrap {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
/* 縦横中央表示にする。すべての方向0にして親要素にrelative */
  border:solid 1px tomato;
  width: 100px;
  height: 100px;
}